/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  font-family: Arial, sans-serif;
}

/* ================= LOGIN PAGE ================= */

/* Background only for login */
#auth-section {
  min-height: 100vh;

  /* YOUR IMAGE HERE */
  background: url("images/login-page-bg-img.png") no-repeat center center/cover;

  display: flex;
  justify-content: center;
  align-items: center;
  
}


/* Glass card */
.auth-card {
  width: 320px;
  padding: 30px;
  border-radius: 20px;

  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);

  text-align: center;
  box-shadow: 0 10px 40px rgba(0,0,0,0.3);
}

/* Title */
.auth-card h2 {
  margin-bottom: 15px;
  color: white;
}

/* Labels */
.auth-card label {
  display: block;
  text-align: left;
  margin-top: 10px;
  color: white;
}

/* Inputs */
.auth-card input {
  outline: none;
}
.auth-card input {
  width: 100%;
  padding: 12px;
  margin-top: 5px;
  border-radius: 10px;
  border: none;
  background: rgba(255,255,255,0.9);
}
/* invalid input */
input:focus:invalid {
  border: 2px solid red;
}

/* valid input */
input:focus:valid {
  border: 2px solid green;
}

/* Buttons */
.auth-card button {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  border-radius: 10px;
  border: none;
  background: #1d4ed8;
  color: white;
  cursor: pointer;
}
.auth-card button:hover {
  background: #163bbf;
}
/* Secondary button */
.auth-card .secondary {
  background: transparent;
  border: 1px solid white;
}

/* Text */
.auth-card p {
  margin-top: 10px;
  color: white;
}

/* ================= APP PAGE ================= */

#app-section {
  padding: 20px;
  text-align: center;
}

/* Buttons */
#app-section button {
  padding: 10px;
  margin: 5px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

/* Grid */
#root {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  margin-top: 20px;
}

/* Cards */
.card {
  background: #1e293b;
  padding: 10px;
  border-radius: 10px;
  color: white;
}

/* Images */
.card img {
  width: 100%;
  border-radius: 8px;
}